// Color Set
$primary-color: #7dc642;
$secondary-color: #6cbe03;
$background-color: #f2f9ec;
$font-color-1: #1f2b3b;
$color: #8c8f94;
// Font family
$font-family-Signika: 'Signika',
sans-serif;
$font-family-OpenSans: 'Open Sans',
sans-serif;