// Import Varriables
@import 'varriables';
// Import Mixin
@import 'mixin';

/*Reset Root*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

.clr {
    clear: both;
}

a {
    text-decoration: none !important;
}

body {
    background: #f2f2f2 !important;
}


/*Fudee Custom Layout Start*/

.fudee_container {
    width: 1650px;
    margin: auto;
    padding: 0px 15px;
}

.fudee_nav_Row {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.fudee_banner-row {
    display: flex;
    width: 100%;
    flex-direction: row;
}


/*Fudee Custom Layout End*/


/* Header CSS Start */

.site-header {
    background: #7dc64212;
    height: 40px;
    line-height: 40px;
    .HeaderTop-Row {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .HeaderTop_left-Col {
            width: 50%;
            .HeaderTop_leftList {
                margin-bottom: 0;
                .HeaderTop_leftListItem {
                    display: inline-block;
                    &:nth-last-child(1) {
                        margin-left: 15px;
                    }
                    &:nth-last-child(2) {
                        margin-left: 15px;
                    }
                    .HeaderTop_leftList_Item {
                        font-size: 14px;
                        color: $font-color-1;
                        font-family: $font-family-OpenSans;
                        font-weight: 400;
                        i {
                            color: $primary-color;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .HeaderTop_right-Col {
            width: 50%;
            text-align: right;
            .HeaderTop_rightList {
                margin-bottom: 0;
                .HeaderTop_rightListItems {
                    display: inline-block;
                    .HeaderTop_rightListItem {
                        font-size: 14px;
                        font-weight: bold;
                        color: $font-color-1;
                        border-bottom: .5px solid $font-color-1;
                    }
                    .HeaderTop_rightSocialItemlist {
                        margin-bottom: 0;
                        .HeaderTop_rightSocialItem {
                            display: inline-block;
                            .HeaderTop_rightSocialItems {
                                display: block;
                                height: 25px;
                                width: 25px;
                                text-align: center;
                                line-height: 25px;
                                border-radius: 50%;
                                i {
                                    color: $color;
                                    transition: all linear .3s;
                                    &:hover {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Header CSS End */


/*Header Navigation Start*/

.HeaderNavigation {
    background: #fff;
    height: 90px;
    line-height: 90px;
}

.fudee_nav_Row {
    .fudee_logo-Col {
        width: 20%;
    }
    .fudee_menu-Col {
        width: 60%;
        .fudee_menu_item-list {
            margin-bottom: 0;
            padding-left: 0;
            text-align: center;
            .fudee_menu_item {
                display: inline-block;
                .fudee_menu_navItem {
                    font-size: 17px;
                    display: block;
                    padding: 0px 12px;
                    font-weight: bold;
                    font-family: $font-family-Signika;
                    color: $font-color-1;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        background: $primary-color;
                        bottom: 0;
                        left: 0;
                        display: none;
                        transition: all linear .3s;
                    }
                    i {
                        margin-left: 3px;
                    }
                }
                .navSearchBox {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    .fudee_shopNow-Col {
        width: 20%;
        .fudeeShopNowButton {
            display: block;
            margin: auto;
            text-align: center;
            width: 150px;
            height: 50px;
            border: 3px solid $primary-color;
            font-family: $font-family-Signika;
            border-radius: 30px;
            line-height: 44px;
            font-size: 14px;
            color: $font-color-1;
            font-weight: bold;
            margin-top: 20px;
            text-transform: uppercase;
            i {
                font-size: 12px;
                margin-left: 5px;
            }
        }
    }
}


/*Header Navigation End*/