/*Reset Root*/
/* line 8, ../../GitHub Projects/fudee/assets/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

/* line 16, ../../GitHub Projects/fudee/assets/scss/style.scss */
.clr {
  clear: both;
}

/* line 20, ../../GitHub Projects/fudee/assets/scss/style.scss */
a {
  text-decoration: none !important;
}

/*Fudee Custom Layout Start*/
/* line 30, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_container {
  width: 1650px;
  margin: auto;
  padding: 0px 15px;
}

/* line 36, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

/* line 42, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

/*Fudee Custom Layout End*/
/* Header CSS Start */
/* line 54, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header {
  background: #7dc64212;
  height: 40px;
  line-height: 40px;
}

/* line 58, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* line 64, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_left-Col {
  width: 50%;
}

/* line 66, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_left-Col .HeaderTop_leftList {
  margin-bottom: 0;
}

/* line 68, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_left-Col .HeaderTop_leftList .HeaderTop_leftListItem {
  display: inline-block;
}

/* line 70, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_left-Col .HeaderTop_leftList .HeaderTop_leftListItem:nth-last-child(1) {
  margin-left: 15px;
}

/* line 73, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_left-Col .HeaderTop_leftList .HeaderTop_leftListItem:nth-last-child(2) {
  margin-left: 15px;
}

/* line 76, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_left-Col .HeaderTop_leftList .HeaderTop_leftListItem .HeaderTop_leftList_Item {
  font-size: 14px;
  color: #1f2b3b;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 81, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_left-Col .HeaderTop_leftList .HeaderTop_leftListItem .HeaderTop_leftList_Item i {
  color: #7dc642;
  margin-right: 5px;
}

/* line 89, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col {
  width: 50%;
  text-align: right;
}

/* line 92, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col .HeaderTop_rightList {
  margin-bottom: 0;
}

/* line 94, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col .HeaderTop_rightList .HeaderTop_rightListItems {
  display: inline-block;
}

/* line 96, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col .HeaderTop_rightList .HeaderTop_rightListItems .HeaderTop_rightListItem {
  font-size: 14px;
  font-weight: bold;
  color: #1f2b3b;
  border-bottom: 0.5px solid #1f2b3b;
}

/* line 102, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col .HeaderTop_rightList .HeaderTop_rightListItems .HeaderTop_rightSocialItemlist {
  margin-bottom: 0;
}

/* line 104, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col .HeaderTop_rightList .HeaderTop_rightListItems .HeaderTop_rightSocialItemlist .HeaderTop_rightSocialItem {
  display: inline-block;
}

/* line 106, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col .HeaderTop_rightList .HeaderTop_rightListItems .HeaderTop_rightSocialItemlist .HeaderTop_rightSocialItem .HeaderTop_rightSocialItems {
  display: block;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}

/* line 113, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col .HeaderTop_rightList .HeaderTop_rightListItems .HeaderTop_rightSocialItemlist .HeaderTop_rightSocialItem .HeaderTop_rightSocialItems i {
  color: #8c8f94;
  transition: all linear .3s;
}

/* line 116, ../../GitHub Projects/fudee/assets/scss/style.scss */
.site-header .HeaderTop-Row .HeaderTop_right-Col .HeaderTop_rightList .HeaderTop_rightListItems .HeaderTop_rightSocialItemlist .HeaderTop_rightSocialItem .HeaderTop_rightSocialItems i:hover {
  color: #7dc642;
}

/* Header CSS End */
/*Header Navigation Start*/
/* line 135, ../../GitHub Projects/fudee/assets/scss/style.scss */
.HeaderNavigation {
  background: #fff;
  height: 90px;
  line-height: 90px;
}

/* line 142, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_logo-Col {
  width: 20%;
}

/* line 145, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_menu-Col {
  width: 60%;
}

/* line 147, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_menu-Col .fudee_menu_item-list {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}

/* line 151, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_menu-Col .fudee_menu_item-list .fudee_menu_item {
  display: inline-block;
}

/* line 153, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_menu-Col .fudee_menu_item-list .fudee_menu_item .fudee_menu_navItem {
  font-size: 17px;
  display: block;
  padding: 0px 12px;
  font-weight: bold;
  font-family: "Signika", sans-serif;
  color: #1f2b3b;
  position: relative;
}

/* line 161, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_menu-Col .fudee_menu_item-list .fudee_menu_item .fudee_menu_navItem::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background: #7dc642;
  bottom: 0;
  left: 0;
  display: none;
  transition: all linear .3s;
}

/* line 172, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_menu-Col .fudee_menu_item-list .fudee_menu_item .fudee_menu_navItem i {
  margin-left: 3px;
}

/* line 177, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_menu-Col .fudee_menu_item-list .fudee_menu_item .navSearchBox::after {
  display: none;
}

/* line 184, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_shopNow-Col {
  width: 20%;
}

/* line 186, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_shopNow-Col .fudeeShopNowButton {
  display: block;
  margin: auto;
  text-align: center;
  width: 150px;
  height: 50px;
  border: 3px solid #7dc642;
  font-family: "Signika", sans-serif;
  border-radius: 30px;
  line-height: 44px;
  font-size: 14px;
  color: #1f2b3b;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}

/* line 201, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_nav_Row .fudee_shopNow-Col .fudeeShopNowButton i {
  font-size: 12px;
  margin-left: 5px;
}

/*Header Navigation End*/
/*Banner Section Start*/
/* line 215, ../../GitHub Projects/fudee/assets/scss/style.scss */
.banner_main {
  position: relative;
  height: 851px;
  background: #f3f3f3;
  z-index: 1;
}

/* line 220, ../../GitHub Projects/fudee/assets/scss/style.scss */
.banner_main::before {
  position: absolute;
  content: url(../images/banner_left+top_wave_shape.png);
  top: 0;
  left: 0;
}

/* line 226, ../../GitHub Projects/fudee/assets/scss/style.scss */
.banner_main::after {
  position: absolute;
  content: url(../images/banner_right_wave_shape.png);
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

/* line 234, ../../GitHub Projects/fudee/assets/scss/style.scss */
.banner_main .bnr_bottom_afterImages {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 241, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col {
  position: relative;
  width: 50%;
}

/* line 252, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .bnrLeft_before_leaf {
  position: absolute;
  top: 125px;
  left: -36px;
}

/* line 256, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .bnrLeft_before_leaf img {
  width: 115px;
  height: 115px;
}

/* line 261, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content {
  padding: 230px 90px;
}

/* line 263, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_subTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #808285;
  margin-left: 25px;
  position: relative;
}

/* line 270, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_subTitle::before {
  position: absolute;
  content: '';
  background-color: #ffb500;
  width: 5px;
  height: 100%;
  top: 0;
  left: -15px;
}

/* line 280, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_mainTitle {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 96px;
}

/* line 284, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_mainTitle span {
  font-weight: 400;
}

/* line 288, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_button_list {
  margin-bottom: 0;
  padding-left: 0;
}

/* line 291, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_button_list .banner_left_btnList {
  display: inline-block;
}

/* line 293, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_button_list .banner_left_btnList .banner_left_btn {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: "Signika", sans-serif;
  color: #fff;
  font-weight: 600;
  background: #7dc642;
  border-radius: 30px;
}

/* line 16, ../../GitHub Projects/fudee/assets/scss/_mixin.scss */
.fudee_banner-left-col .banner_left_content .banner_left_button_list .banner_left_btnList .banner_left_btn i {
  font-size: 12px;
}

/* line 296, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_button_list .banner_left_btnList .bnr_watchBtn {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: "Signika", sans-serif;
  color: #1f2b3b;
  font-weight: 600;
  background: transparent;
  border-radius: 30px;
  position: relative;
}

/* line 16, ../../GitHub Projects/fudee/assets/scss/_mixin.scss */
.fudee_banner-left-col .banner_left_content .banner_left_button_list .banner_left_btnList .bnr_watchBtn i {
  font-size: 12px;
}

/* line 299, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-left-col .banner_left_content .banner_left_button_list .banner_left_btnList .bnr_watchBtn::after {
  position: absolute;
  content: '';
  width: 92px;
  height: .5px;
  background: #1f2b3b;
  bottom: 16px;
  left: 21px;
}

/* line 314, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-right-col {
  width: 50%;
}

/* line 317, ../../GitHub Projects/fudee/assets/scss/style.scss */
.fudee_banner-right-col .banner_right_content img {
  margin-top: 100px;
}

/*Banner Section End*/
/*Product Service Card Start */
/* line 329, ../../GitHub Projects/fudee/assets/scss/style.scss */
.ps-card-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* line 333, ../../GitHub Projects/fudee/assets/scss/style.scss */
.ps-card-container-row .product_card_col {
  width: 50%;
  text-align: center;
  padding: 60px 100px;
  height: 325px;
  background: #6cbe03;
  position: relative;
  box-shadow: 0px 0px 45px 55px #0c0c0c14 inset;
  z-index: 1;
}

/* line 343, ../../GitHub Projects/fudee/assets/scss/style.scss */
.ps-card-container-row .product_card_col .product_card-content .product_card_title {
  color: #fff;
  margin-top: 15px;
  font-family: "Signika", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

/* line 350, ../../GitHub Projects/fudee/assets/scss/style.scss */
.ps-card-container-row .product_card_col .product_card-content .product_card_description {
  color: #fff;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* line 358, ../../GitHub Projects/fudee/assets/scss/style.scss */
.ps-card-container-row .product_card_col .psc_circle_top {
  position: absolute;
  height: 185px;
  width: 185px;
  background: #ffffff10;
  top: 0;
  left: 0;
  clip-path: circle(50% at 100% 99%);
  transform: rotate(180deg);
}

/* line 368, ../../GitHub Projects/fudee/assets/scss/style.scss */
.ps-card-container-row .product_card_col .psc_circle_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/*Product Service Card End */
/*About Us Section Start*/
/* line 398, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_main {
  margin-top: 155px;
  margin-bottom: 155px;
}

/* line 403, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_section-title {
  position: relative;
}

/* line 405, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_section-title .about_us_head_subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #7dc642;
}

/* line 408, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_section-title .about_us_title {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: #1f2b3b;
}

/* line 413, ../../GitHub Projects/fudee/assets/scss/style.scss */
.section_title {
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* line 418, ../../GitHub Projects/fudee/assets/scss/style.scss */
.section_title::after {
  position: absolute;
  content: url(../images/corn_icon.png);
  top: 75px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* line 423, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_main {
  margin-top: 55px;
}

/* line 427, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-left {
  position: relative;
}

/* line 429, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-left .about_us_after_img {
  position: absolute;
  bottom: -60px;
  left: -150px;
}

/* line 436, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-right {
  padding: 80px 0px;
  position: relative;
}

/* line 439, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-right::after {
  position: absolute;
  content: url(../images/about_right_after_logo.png);
  top: 0;
  right: 0;
}

/* line 445, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-right .about_exp_number {
  font-size: 100px;
  font-weight: 700;
  font-family: "Signika", sans-serif;
  color: #7dc642;
  position: relative;
  z-index: 1;
  margin-left: 70px;
}

/* line 453, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-right .about_exp_number::before {
  position: absolute;
  content: '';
  width: 110px;
  height: 110px;
  background-color: #6cbe03;
  opacity: .25;
  z-index: -1;
  top: -40px;
  left: -65px;
  border-radius: 1px;
}

/* line 466, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-right .about_exp_descrp {
  font-family: "Signika", sans-serif;
  font-size: 42px;
  font-weight: 700;
}

/* line 471, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-right .about_exp_detail {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #8c8f94;
}

/* line 478, ../../GitHub Projects/fudee/assets/scss/style.scss */
.about_us_col-right .about_exp_btn {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: "Signika", sans-serif;
  color: #fff;
  font-weight: 600;
  background: #7dc642;
  border-radius: 30px;
  margin-top: 40px;
}

/* line 16, ../../GitHub Projects/fudee/assets/scss/_mixin.scss */
.about_us_col-right .about_exp_btn i {
  font-size: 12px;
}

/*About Us Section End*/
/*Our Service Section Start*/
/* line 490, ../../GitHub Projects/fudee/assets/scss/style.scss */
.our_service {
  background: #6cbe0315;
  padding: 120px 0px;
  position: relative;
}

/* line 494, ../../GitHub Projects/fudee/assets/scss/style.scss */
.our_service::before {
  position: absolute;
  content: url(../images/service_top_after.png);
  top: 0;
  left: 0;
}

/* line 502, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_section_headingTitle {
  text-align: center;
}

/* line 504, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_section_headingTitle .service_section_title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #7dc642;
}

/* line 507, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_section_headingTitle .service_section_main {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: #1f2b3b;
}

/* line 512, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_card {
  margin-top: 60px;
  position: relative;
}

/* line 515, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_card::before {
  position: absolute;
  content: url(../images/service_bg_right_after_top.png);
  top: -180px;
  right: -215px;
}

/* line 521, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_card::after {
  position: absolute;
  content: url(../images/service_bg_right_before_bottom.png);
  bottom: -60px;
  left: -200px;
  z-index: -1;
}

/* line 530, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col {
  margin: auto;
  width: 410px;
  transition: all linear .3s;
}

/* line 534, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col:hover > .service_card_btnLink {
  background: #6cbe03 !important;
}

/* line 537, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col .service_card_image {
  position: relative;
  z-index: 1;
}

/* line 540, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col .service_card_image .service_card_icon {
  display: block;
  width: 80px;
  height: 80px;
  background: #7dc642;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  border: 3px solid #fff;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* line 556, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col .service_card_description {
  padding: 50px 45px;
  background: #fff;
  text-align: center;
  position: relative;
}

/* line 561, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col .service_card_description .service_card_title {
  font-size: 26px;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-top: 15px;
}

/* line 567, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col .service_card_description .service_card_detail {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 35px;
}

/* line 572, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col .service_card_description .service_card_btnLink {
  display: block;
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #6cbe0315;
  margin: auto;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all linear .3s;
}

/* line 585, ../../GitHub Projects/fudee/assets/scss/style.scss */
.service_col .service_card_description .service_card_btnLink i {
  font-size: 18px;
  color: #808285;
}

/*Our Service Section End*/
/*Our Product Section Start*/
/* line 600, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_section_title .product_section_sub_title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #7dc642;
}

/* line 603, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_section_title .product_section_title {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: #1f2b3b;
}

/* line 608, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar {
  text-align: center;
}

/* line 610, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar .product_cat_nav {
  padding-left: 0px !important;
}

/* line 612, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar .product_cat_nav .product_cat_nav_list {
  display: inline-block;
}

/* line 614, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar .product_cat_nav .product_cat_nav_list .product_cat_nav_item {
  display: block;
  width: 150px;
  height: 150px;
  color: #363636;
  transition: all linear .3s;
  position: relative;
}

/* line 621, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar .product_cat_nav .product_cat_nav_list .product_cat_nav_item::after {
  position: absolute;
  content: url(../images/wave_border.png);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all linear .3s;
  opacity: 0;
}

/* line 630, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar .product_cat_nav .product_cat_nav_list .product_cat_nav_item:hover::after {
  opacity: 1;
}

/* line 633, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar .product_cat_nav .product_cat_nav_list .product_cat_nav_item i {
  font-size: 62px;
}

/* line 636, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar .product_cat_nav .product_cat_nav_list .product_cat_nav_item .pr_card_nav_name {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

/* line 642, ../../GitHub Projects/fudee/assets/scss/style.scss */
.product_card_navbar .product_cat_nav .product_cat_nav_list .product_cat_nav_item:hover {
  color: #6cbe03;
}

/*Our Product Section End*/

/*# sourceMappingURL=style.css.map */